@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@media (max-width: 767px) {
	.box-balance {
		width: 1/2;
	}
}

.box-balance {
	width: 2/5;
}

@layer components {
	/* .btn.btn-outline.btn-base {
		@apply bg-bg-white text-base-content border border-base-200;
	}
	.btn.btn-outline.btn-base:hover {
		@apply border-base-300 text-base-300;
	} */
}

@font-face {
	font-family: 'nicomoji';
	src: url('/fonts/nicomoji-plus_v2-5.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '851Gkktt';
	src: url('/fonts/851Gkktt_005.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
